<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="base_attachment">

  <xacro:macro name="base_attachment" params="name parent">
    <!-- Fixed joint: parent (e.g., world) -> base platform -->
    <joint name="${name}_to_${parent}" type="fixed">
      <parent link="${parent}"/>
      <child  link="${name}_base_link"/>
      <origin xyz="-0.095725 0.65 0.425" rpy="0 0 -1.5708"/>
    </joint>

    <link name="${name}_base_link">
      <visual>
        <geometry><cylinder radius="0.1" length="0.85"/></geometry>
        <material name="grey"><color rgba="0.5 0.5 0.5 1.0"/></material>
      </visual>
      <collision><geometry><cylinder radius="0.1" length="0.85"/></geometry></collision>
      <inertial>
        <mass value="10.0"/>
        <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
      </inertial>
    </link>
  </xacro:macro>

</robot>