<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur3_manipulator">

  <xacro:property name="robot_prefix" value="ur3_"/>

  <!-- Global world frame -->
  <link name="world"/>

  <!-- Include macros -->
  <xacro:include filename="$(find ur_manipulator_description)/urdf/base_attachment.urdf.xacro"/>
  <xacro:include filename="$(find ur_manipulator_description)/xacro/rbyt_ur_mocked.xacro"/>

  <!-- 1) Place the base/platform -->
  <xacro:base_attachment name="${robot_prefix}attachment" parent="world"/>

  <!-- 2) Mount the UR arm to the base's link -->
  <xacro:rbyt_ur_description
      name="ur3"
      ur_type="ur3"
      tf_prefix="${robot_prefix}"
      safety_limits="true">
  </xacro:rbyt_ur_description>

</robot>
