<?xml version="1.0"?>
<!--
    Xacro file for a table model

    This file is based on resources from the Bullet Physics GitHub repository:
    Repository: https://github.com/bulletphysics/bullet3.git
    The original model has been modified and adapted into Xacro format for use with ROS.

    Original files used: table.obj, etc.
    Author: Roblyat
-->

<robot name="table" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Macro to define the table -->
    <xacro:macro name="table" params="name table_parent">

        <!-- Base link -->
        <link name="${name}_baseLink">
            <contact>
                <lateral_friction value="1.0"/>  <!-- Fixed friction value -->
            </contact>
            <inertial>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <mass value="1.0"/>  <!-- Placeholder mass -->
                <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
            </inertial>

            <!-- Visual for the tabletop -->
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0.6"/>
                <geometry>
                    <mesh filename="package://manipulator_description/urdf/table/table.obj" scale="1.5 1 0.05"/>
                </geometry>
                <material name="white">
                    <color rgba="1 1 1 1"/>
                </material>
            </visual>

            <!-- Collision geometry -->
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0.6"/>
                <geometry>
                    <box size="1.5 1 0.05"/>
                </geometry>
            </collision>

            <!-- Visuals for table legs -->
            <visual>
                <origin rpy="0 0 0" xyz="-0.65 -0.4 0.29"/>
                <geometry>
                    <mesh filename="package://manipulator_description/urdf/table/table.obj" scale="0.1 0.1 0.58"/>
                </geometry>
                <material name="white"/>
            </visual>

            <visual>
                <origin rpy="0 0 0" xyz="-0.65 0.4 0.29"/>
                <geometry>
                    <mesh filename="package://manipulator_description/urdf/table/table.obj" scale="0.1 0.1 0.58"/>
                </geometry>
                <material name="white"/>
            </visual>

            <visual>
                <origin rpy="0 0 0" xyz="0.65 -0.4 0.29"/>
                <geometry>
                    <mesh filename="package://manipulator_description/urdf/table/table.obj" scale="0.1 0.1 0.58"/>
                </geometry>
                <material name="white"/>
            </visual>

            <visual>
                <origin rpy="0 0 0" xyz="0.65 0.4 0.29"/>
                <geometry>
                    <mesh filename="package://manipulator_description/urdf/table/table.obj" scale="0.1 0.1 0.58"/>
                </geometry>
            </visual>
        </link>

        <!-- Main Joint to Attach the Table to the Parent (world) -->
        <joint name="${name}_to_${table_parent}" type="fixed">
            <parent link="${table_parent}"/>
            <child link="${name}_baseLink"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>

    </xacro:macro>

</robot>
